<div class="container">
  <div class="application">
    <h1>Finance Manager Application</h1>
  </div>
  <div class="app_info">
    <div>
      <%= link_to "Category", categories_path, class:"btn btn-info" %>
    </div>
    <br>
    <div>
      <%= link_to "Operation", operations_path, class:"btn btn-success" %>
    </div>
    <br>
    <div>
      <%= link_to "Reports", reports_index_path, class:"btn btn-warning" %>
    </div>
  </div>
</div>
