<div id="<%= dom_id @category %>">
  <div id="category">
    <h1>Category Id : <span class="label label-default"></span>
      <%= @category.id %>
    </h1>
  </div>
  <div id="label">
    <h4>Name: <span class="label label-default"></span>
    </h4>
    <%= @category.name %>
    <h4>Category description: <span class="label label-default"></span>
    </h4>
    <%= @category.description %>
  </div>
</div>
