<footer class="bg-dark text-center text-white">
  <div class="container p-4 pb-0 md">
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/serhii-shtelmakh-9a0264b0/" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
    <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/SerhiiSt/finance_app" role="button"
        ><i class="fab fa-github"></i
      ></a>
  </section>
</div>
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
  © 2023 Copyright:
  <a class="text-white" href="https://www.linkedin.com/in/serhii-shtelmakh-9a0264b0/">Serhii Shtelmakh</a>
</div>
</footer>
