<div class='category_edit'>
  <h1>Editing category</h1>
</div>
<%= render "shared/form", category: @category %>
<br>
<div class="btn-group" role="group">
  <%= link_to "Show this category", @category, class:'btn btn-info' %>
  <%= link_to "Back to categories", categories_path ,class:'btn btn-warning'%>
</div>
