<h1>Reports Generator</h1>
<form>
Date From YYYY-MM-DD <input name = 'dateFrom' type='date'><br>
Date To YYYY-MM-DD <input name = 'dateTo' type='date'><br>

<button type="submit" class="btn btn-primary" id="btn_submit" name="btn_submit" value="send">Сума</button>
<button type="reset" class="btn btn-primary" id="btn_reset" name="btn_reset" value="reset">Очистити</button>
<button type="submit" class="btn btn-success" id="btn_graph" name="btn_graph" value="graph" >По категоріям</button>
<button type="submit" class="btn btn-danger" id="btn_dynamic" name="btn_dynamic" value="dynamic" >По датам</button>

</form>




