<div class="edit_operation">
  <h1>Editing operation</h1>
</div>
<%= render "form", operation: @operation %>
<br>
<div class="op_links">
  <%= link_to "Show this operation", @operation, class:"btn btn-info" %>
  <%= link_to "Back to operations", operations_path, class:"btn btn-warning" %>
</div>
