<div class="new_op">
  <h1>New operation</h1>
</div>
<%= render "form", operation: @operation %>
<br>
<div id="back_operation">
  <%= link_to "Back to operations", operations_path, class:"btn btn-warning" %>
</div>
